* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.container { /* this defines the properties of the whole content */
	position: relative;
}

img { /* the styles the image to your tune, taste or intereest */
	opacity: 0.5;
}

.text { /* this defines the properties of the text, how it operates, reacts and acts*/
	width: 510px;
	color: white;
	position: absolute;
	bottom: 30px;
	left: 30px;
	background-color: black;
	background-blend-mode: lighten;
	text-align: justify;
	opacity: 0.8;
	padding: 0px 6px;
}